@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Finance Manager</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="" width="200">
            </a>

            <div class="dropdown ms-auto">
                <i class="bi-globe btn" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="?culture=es">@Localizer["Spanish"]</a></li>
                    <li><a class="dropdown-item" href="?culture=en">@Localizer["English"]</a></li>
                </ul>
            </div>

            @if (ViewData.ContainsKey("authToken") && !string.IsNullOrEmpty(ViewData["authToken"]?.ToString()))
            {
                <div class="dropdown">
                    <i class="bi-person btn" data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/authentication/logout">@Localizer["LogOut"]</a></li>
                    </ul>
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @Localizer["Since"] 2022</p>
        </footer>
    </div>

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>